<div class="content__header">
    <h2 class="content__title">Статьи</h2>
    <div class="content__actions">
        <a href="#!/new-article/" class="btn waves-effect waves-light teal">Добавить статью</a>
    </div>
</div>

<div class="row" ng-repeat="article in $ctrl.articles | orderBy: 'PubDate'">
    <div class="col s12">
        <div class="card">
            <div class="card-content article">
                <h3 class="card-title article__title"><a href="#!/article/{{article.Id}}">{{article.Title}}</a> <button class="btn white black-text right" ng-click="$ctrl.delete(article)">Удалить</button></h3>
                <time class="article__pubdate" datetime="{{article.PubDate}}">{{article.PubDate | date:'dd.MM.yyyy'}}</time>
                <p class="article__text">{{article.Text}}</p>
            </div>
            <div class="card-action">
                <a href="#!/article/{{article.Id}}">Подробнее...</a>
            </div>
        </div>
    </div>
</div>