.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.nav-wrapper {
  padding: 0 15px;
}

.content {
  margin-top: 20px;
}

.content__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.content__actions {
margin-bottom: 25px;
}

.article__title {
  margin-top: 0;
}

.article__pubdate {
  display: inline-block;
  margin-bottom: 10px;

  font-size: 14px;
  color: #888888;
}