<div class="content__header">

    <h2 class="content__title">{{ $ctrl.article.Id ? 'Редактирование статьи' : 'Новая статья' }}</h2>
    <div class="content__actions">
        <a href="#!/articles/" class="btn btn-primary">Вернуться к списку</a>
    </div>
</div>


<form>
    <div class="row">
        <div class="form-group col-sm-12 col-md-8">
            <label for="title">Заголовок</label>
            <input class="form-control" type="text" id="title" name="title" ng-model="$ctrl.article.Title">
        </div>

        <div class="form-group col-sm-12 col-md-4">
            <label for="pubDate">Дата публикации</label>
            <input class="form-control" id="pubDate" name="pubDate" type="date" ng-model="$ctrl.article.PubDate" value="{{$ctrl.article.PubDate | date: 'yyyy-MM-dd'}}">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <label for="text">Текст</label>
            <textarea class="form-control" id="text" name="text" rows="10" ng-model="$ctrl.article.Text"></textarea>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary" ng-click="$ctrl.save()">Сохранить</button>
        </div>
    </div>
</form>