<!DOCTYPE html>
<html lang="en" ng-app="blogApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
</head>
<body>

<div class="container">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#!/articles">Blog</a>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#!/articles">Статьи</a>
                </li>
            </ul>
    </nav>

    <h1 class="visually-hidden">Блог</h1>
    <div class="content">

        <div ng-view></div>

    </div>
</div>

    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/app")
</body>
</html>